Source: ros-lunar-pcdfilter-pa
Section: misc
Priority: extra
Maintainer: Peter Weissig <wepet@hrz.tu-chemnitz.de>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin, ros-lunar-cv-bridge, ros-lunar-image-transport, ros-lunar-laser-geometry, ros-lunar-message-generation, ros-lunar-parameter-pa, ros-lunar-pcl-conversions, ros-lunar-pcl-ros, ros-lunar-roscpp, ros-lunar-sensor-msgs, ros-lunar-std-msgs, ros-lunar-std-srvs, ros-lunar-tf
Homepage: 
Standards-Version: 3.9.2

Package: ros-lunar-pcdfilter-pa
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lunar-cv-bridge, ros-lunar-image-transport, ros-lunar-laser-geometry, ros-lunar-message-runtime, ros-lunar-parameter-pa, ros-lunar-pcl-conversions, ros-lunar-pcl-ros, ros-lunar-roscpp, ros-lunar-sensor-msgs, ros-lunar-std-msgs, ros-lunar-std-srvs, ros-lunar-tf
Description: ProAut pointcloud filter package
